@media screen and (max-width: 320px) {
    .hero__title {
        font-size: 15px;
    }

    .hero__tagline {
        font-weight: 400;
        font-size: 10px;
    }

    .header_logo {
        margin-left: auto;
    }

    .header__inner {
        margin-left: 0px;
    }

    .favorite__tagline {
        font-size: 20px;
    }

    .page__loader {
        top: 71%;
    }

    .detail__list__data {
        grid-template-columns: 1fr 1fr;
    }


}

@media screen and (max-width: 420px) {
    .hero__title {
        font-size: 17px;
    }

    .hero__tagline {
        font-weight: 400;
        font-size: 12px;
    }

    .header_logo {
        margin-left: auto;
    }

    .header__inner {
        margin-left: 0px;
    }

    /* .logo {
        width: 30px;
        height: 30px;
    } */

    .favorite__tagline {
        font-size: 20px;
    }

    .page__loader {
        top: 71%;
    }

    .detail__list__data {
        grid-template-columns: 1fr 1fr;
    }


}


@media screen and (max-width: 499px) {
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .hero {
        margin-top: 10px;
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 93%;
        text-align: left;
    }


    .header_logo {
        margin-left: auto;
    }

    .detail__list__data {
        grid-template-columns: 1fr 1fr;
    }

    .like {
        font-size: 17px;
        height: 40px;
        width: 40px;
    }

}


@media screen and (min-width: 500px) {
    .page__loader {
        top: 80%;
    }

    .header__menu {
        display: none;
    }

    .header {
        grid-template-columns: 1fr 1.4fr;
    }

    .header_logo {
        margin-left: auto;
    }

    .nav {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .favorite_item {
        position: relative;
        display: grid;
        grid-auto-flow: column;
    }

    .restaurant-item__thumbnail {
        height: 50%;
    }

    .restaurant-item__description {
        -webkit-line-clamp: 3;
    }


    .restaurants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .button {
        width: 100%;
    }

    .detail__overview {
        font-size: 18px;
        padding: 16px 40px 0 40px;
    }

    .detail__list__data {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .page__loader {
        top: 73%;
    }


    .restaurant-item__thumbnail {
        height: 50%;
    }

    .restaurants {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .favorite_item {
        position: relative;
        display: grid;
        grid-auto-flow: column;
    }

    .nav {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .header {
        grid-template-columns: 1fr 2fr 4fr;

    }

    .header__inner {
        text-align: left;
        margin-right: auto;
    }

    .detail__list__data {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 1000px) {
    .header {
        margin: auto;
    }

    .restaurant-item__description {
        -webkit-line-clamp: 4;
    }

}
